@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Lexend", sans-serif;
}

.cal {
  overflow-y: auto;
  height: auto;
  margin-top: 20px;
  background-color: var(--light-color);
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}
.custom-deny-btn {
  background-color: #28a745 !important; /* Vert pour "Accepter" */
}
.custom-cancel-btn {
  background-color: #e62121 !important; /* Jaune pour "Rendu" */
}
