
.manager-inventory {
    margin-left: 15px; 
    height: 100%;
    /* margin-bottom: 400px; */
}

.manager-inventory .grid-content {
    margin-top: 20px;
    display: grid;
    margin-right: 20px;
    grid-template-areas: 
        'left right right right'
        'bottom bottom bottom bottom';
    gap: 20px;
}

.manager-inventory .location {
    grid-area: right;
    min-width: 380px;
    height: 400px;
}

.manager-inventory .commands {
    grid-area: left;
    min-width: 380px;
    height: 400px;
}

.manager-inventory .stocks {
    grid-area: bottom;
    height: 500px;
}

.manager-inventory .grid-content > div {
    background-color: white;
    border-radius: 14px;
}