.student-inventory {
    margin: 20px;
    border-radius: 10px;
    background-color: white;
}

.student-inventory .stocks {
    position: relative;
    height: 520px;
}

.student-inventory .stocks .table table tbody {
    height: 330px;
    overflow-y: auto;
}

.student-inventory .table-student {
    margin: 0 30px;
}


.student-inventory .st-filter {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}