
form .borrow-form  {
    height: 90%;
    background-color: white;
}

.borrow-form .form-content {
    height: 100%;
    padding: 30px 30px 0px 30px;
}

.borrow-form .form-content .head-form-borrow {
    display: flex;
    align-items: center;
}

.borrow-form .form-content .head-form-borrow button {
    border: 0;
    padding: 4px;
}

.borrow-form .form-content .list-items-form-borrow {
    padding: 20px 30px 0 30px;
}


.borrow-form .form-content .list-items-form-borrow .table table tbody {
    height: 135px;
}

.borrow-form .form-content .list-items-form-borrow .table table tbody .close-btn button{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 4px;
    border-radius: 6px;
    transition: all .3s;
}

.borrow-form .form-content .list-items-form-borrow .table table tbody .close-btn button:hover {
    background-color: rgb(247, 151, 151);
    color: white;
}

.borrow-form .form-content .list-items-form-borrow .table table tbody .close-btn button >:first-child {
    width: 20px;
    height: 20px;
}

.borrow-form .form-content .list-items-form-borrow .button-add {
    margin-top: 10px;
}

.borrow-form .form-content .time-form-borrow,
.borrow-form .form-content .motif-form-borrow
{
    padding: 0px 30px 4px 30px;
}

.borrow-form .form-content .time-content-form-borrow {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.borrow-form .form-content .borrow-start-date  label,
.borrow-form .form-content .borrow-end-date label {
    color: #A2A1A8;
    margin-right: 10px;
}

.borrow-form .form-content .borrow-start-date  input,
.borrow-form .form-content .borrow-end-date input {
    height: 30px;
    padding: 0 20px;
    border-radius: 4px;
    background-color: #5899DD;
    color: white;
    border: 0;
    outline: 0;
}

.borrow-form .form-content .motif-form-borrow > *:nth-child(2) {
    width: 100%;
    height: 80px;
    margin-top: 3px;
    resize: none;
    padding: 5px 10px;
    outline: 0;
    border-radius: 6px 10px;
    font-size: 14px;
}

.borrow-form .form-content .motif-form-borrow > *:nth-child(2).invalid {
    border: 1px solid red;
}

.borrow-form .form-content .motif-form-borrow .motif-invalid-label {
    visibility: hidden;
    color: red;
    font-size: 13px;
}

.borrow-form .form-content .motif-form-borrow .button-add{
    margin-top: 0;
}