#detail-member-view {
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    gap: 20px;
    z-index: 1;
    padding: 20px;
}

#detail-member-view .member-info{
    border-radius: 14px;
    background-color: var(--light-color);
    display: flex;
    gap: 30px;
    padding: 30px;
}

#detail-member-view .member-info img {
    height: 150px;
}

#detail-member-view .member-info .email {
    display: flex;
    align-items: center;
    gap: 8px;
}

#detail-member-view .member-info .email img {
    height: 30px;
}

#detail-member-view .member-info .member-info-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
}

#detail-member-view .member-info .member-info-text .btns{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: end;
    width: 100%;
}

#detail-member-view .member-info .member-info-text .delete {
    background-color: var(--red-color);
    color: white;
    border: none;
    cursor: pointer;
}

#detail-member-view .member-info .member-info-text h2 {
    color: var(--blue-color);
}

#detail-member-view .member-tasks {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

#detail-member-view .member-tasks .member-tasks-group {
    background-color: var(--light-color);
    flex: 1;
    border-radius: 14px;
    padding: 20px 20px 0 20px;
}

#detail-member-view .member-tasks .member-tasks-group .head h2{
    font-size: 18px;
}

#detail-member-view .member-tasks .member-tasks-group .head .search{
    width: 230px;
    font-size: 12px;
}

#detail-member-view .member-tasks .member-tasks-group .head  input {
    padding: 6px 10px;
    font-size: 14px;
}

#detail-member-view .member-tasks .member-tasks-group .table table tbody {
    height: 370px;
}


#detail-member-view .member-tasks .member-tasks-group .table table tbody td {
    padding: 8px 0;
}

.add_task-form  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blur-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_task-form .add_task-form-content {
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 14px;
    width: min(500px, 90%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add_task-form .cancel-button {
    background-color: var(--red-color);
    color: white;
    border: none;
    cursor: pointer;
}

.add_task-form .row.dates {
    justify-content: space-between;
}

.add_task-form #due_date {
    background-color: var(--blue-color);
    color: white;
}

.add_task-form .row {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 100%;
}
