

.members, #detail-member-view {
    padding: 20px 30px;
    background-color: white;
    display: flex;
    min-width: 800px;
    flex-direction: column;
    margin: 14px;
    border-radius: 14px;
    gap: 20px;
    position: relative;
}

.members .summary {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.members .summary .card {
    padding: 0;
    height: inherit;
    min-width: 250px;
    padding: 8px 15px 4px;
    justify-content: start;
    background-color: #F0F7FF;
}

.members .summary .card >:first-child {
    color: #909090;
    font-size: 13px;
    margin-bottom: 3px;
}

.members .summary .card .content {
    font-size: 25px;
}

.members .summary .card .icon {
    text-align: right;
}

.members .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.members .content .table {
    padding: 0 20px;
    margin-bottom: 10px;
}

.members .content .table tbody{
    height: 270px;
}

.members .content .toolbar {
    padding: 0;
}

.members .content .button-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.members #filter-popup {
    visibility: hidden;
}

.members #filter-popup .st-filter-content {
    display: flex;
    height: 80vh;
    flex-direction: column;
}

.members #filter-popup .st-filter-content .filter-types {
    height: 80%;
    overflow-y: auto;
}

.detailview-title button {
    background-color: transparent;
    border-radius: 8px;
    padding: 6px;
    border: 0;
    cursor: pointer;
}
