
.commands {
    padding: 30px;
}

/* command search head */
.commands .head .search {
    width: 200px;
}

.commands .button-add{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.commands .table table tbody {
   height: 130px;
}

.total-price {
    display: flex;
    width: 200px;
    padding: 8px 14px;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F7FF;
    border-radius: 10px;
    margin: 10px 0px;
}

.total-price .label {
    color: #909090;
    font-size: 13px;
    font-weight:400;
}

.total-price .value {
    font-size: 17px;
    font-weight: 600;
}

.total-price .icon-money {
    width: 60px;
    color: #5899DD;
}
