
.commands {
    padding: 30px;
}

.total-price {
    display: flex;
    width: 200px;
    padding: 14px 14px;
    align-items: center;
    justify-content: space-between;
    background-color: #F0F7FF;
    border-radius: 10px;
    margin: 10px 0px;
}

.total-price .label {
    color: #909090;
    font-size: 15px;
    font-weight:700;
}

.total-price .value {
    font-size: 20px;
    font-weight: 700;
}

.total-price .icon-money {
    width: 60px;
    color: #5899DD;
}

.table-commands tbody .btn {
    background-color: transparent;
    border: 0;
    padding-inline: 5px;
    cursor: pointer;
}

.table-commands tbody,
.table-commands thead {
    display: block;
}

.table-commands tbody {
    height: 175px;
    overflow-y: auto;
}

.table-commands {
    border-collapse: collapse;
    min-width: 100%;
}

.table-commands thead th{
    font-weight: 200;
    color: #A2A1A8;
    text-align: start;
}

.table-commands th {
    padding: 16px 8px;
}
.table-commands td {
    padding: 4px;
}

.table-commands tbody img {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    margin-right: 4px;
}

.table-commands tbody td div{
    display: flex;
    align-items: center;
}

.table-commands tbody tr {
    border-top: 1px solid #d0d0d4b2;
    transition: all .2s ease-in-out;
}

.table-commands tbody tr:hover {
    background-color: #d0d0d448;
}

.commands .table-commands .product-name {
    min-width: 170px;
}

.commands .table-commands .price {
    min-width: 70px;
}