
#add-command {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blur-color);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-command .add-popup {
    width: 900px;
    height: 500px;
    padding: 20px 0;
    background-color: var(--light-color);
    overflow-y: hidden;
    border-radius: 14px;
}

#add-command .add-command-content {
    padding: 0 30px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#add-command .add-command-content .header  {
    display: flex;
    align-items: center;
}

#add-command .add-command-content .header h3 {
    font-size: 20px;
}

#add-command .add-command-content .toolbar {
    min-height: 50px;
    padding: 10px 0px;
    overflow-y: hidden;
}

#add-command .add-command-content .table table tbody {
    height: 150px;
}

#add-command .lists {
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

#add-command .button-add {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}

