/* Reset du style par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styles pour la navbar */
.navbar {
  background-color: var(--light-color);
  margin-top: 20px;
  margin-left: 30px;
  width: 300px;
  position: relative;
  color: var(--dark-color);
  height: 93%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar::-webkit-scrollbar {
  display: none;
}

/* Style de l'entête de la navbar */
.navbar-header {
  text-align: center;
  margin-bottom: 40px;
  margin: 10px 10px 10px 10px;
}

.navbar-header h1 {
  font-size: 1.3em;
  margin: 5px 0px 5px 0px;
  color: var(--light-color);
}

.logo {
  width: 220px;
  height: auto;
}

/* Styles pour les liens de navigation */
.nav-links {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: 0px 10px 0px 10px;
  border-radius: 0px 10px 10px 0px;
  transition: all .3s;
  cursor: pointer;
}

.nav-links li.active {
  background-color: var(--background-color);
  border-left: solid 4px var(--blue-color);
  color: var(--blue-color);
}

.nav-links li:hover {
  background-color: var(--background-color);
  border-left: solid 3px var(--blue-color);
  color: var(--blue-color);
}

.nav-links li.dashboard:hover {
  background-color: var(--light-color);
  border-left: none;
  color: var(--dark-color);
  cursor: initial;
}

.nav-links li:hover > a {
  color: var(--blue-color);
}

.nav-links li.dashboard:hover > a {
  color: var(--dark-color);
}

.nav-logo {
  width: 20px;
  height: auto;
  margin-right: 15px;
}

.nav-links a {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 0.9em;
}

hr {
  border: 1px solid rgb(87, 84, 84);
}

/* Styles pour le bouton de déconnexion */

.navbar .bottom {
  position: absolute;
  width: 100%;
  padding: 0 20px 20px 20px;
  bottom: 0;
}

.logout {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logout-logo {
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.logout-link {
  color: var(--dark-color);
  text-decoration: none;
  font-size: 1em;
}

.logout:hover {
  color: var(--blue-color);
}

.logout:hover > a {
  color: var(--blue-color);
}
