
.manager-budget .content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.manager-budget .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.manager-budget .header input {
    padding: 8px;
    color: #A2A1A8;
    border-radius: 8px;
    border: 1px solid #A2A1A8;
    outline: 0;
}

.manager-budget .header button.button:hover {
    background-color: rgba(255, 255, 255, 0.753);
}

.manager-budget .header button.button.active:hover {
    background-color: var(--blue-color);
}

.manager-budget .header div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.manager-budget .dashboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.manager-budget .dashboard >:first-child {
    flex: 1.5;
}

.manager-budget .dashboard >:nth-child(2) {
    flex: 1;
    background-color: var(--blue-color);
}

.manager-budget .dashboard >:nth-child(2) > * {
    color: var(--light-color);
}

.manager-budget .dashboard >:last-child {
    flex: 1;
    background-color: #5898dd3f;
}

.manager-budget .content h4 {
    font-size: 20px;
    font-weight: 400;
}

.manager-budget .bilan {
    background-color: var(--light-color);
    border-radius: 14px;
    margin: 15px 0px;
    padding: 30px;
    height: 350px;
}


.manager-budget .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.manager-budget .bottom > * {
    width: 49%;
}

