button.button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    border: 1px solid var(--light-dark);
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Bouton actif */
button.button.active {
    background-color: var(--blue-color);
    color: #fff;
    border: 0;
}

button.button.active * {
  color: #fff;
}

/* Bouton Ajouter */
button.button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button:first-child >:first-child {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}