button.button {
  padding: 8px 12px;

  font-size: 14px;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  border: 1px solid var(--light-dark);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

/* Bouton actif */
button.button.active {
  background-color: var(--blue-color);
  color: #fff;
  border: none;
}

button.button.active * {
  color: #fff;
}

/* Bouton Ajouter */
button.button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.button:first-child>:first-child {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}