

#add-product {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product .content {
    border-radius: 14px;
    background-color: white;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.add-product .content .header {
    display: flex;
    gap: 8px;
}

.add-product .header button {
    background-color: transparent;
    border: 0;
    padding: 0 4px;
    cursor: pointer;
}

.add-product .content .component {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.add-product .content p {
    font-size: 12px;
    color: red;
}

.add-product .content .component img {
    width: 160px;
    cursor: pointer;
    border: 1px solid #5899DD;
}

.add-product .content .component div {
    width: 100%;
}

.add-product .content .component div.input {
    display: flex;
    flex-direction: column;
    gap: 15Px;
}

.add-product .content .component .input .field-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-product .content .component input,
.add-product .content .component select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #A2A1A8;
}

.add-product .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.add-product .content .info .field-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.add-product .content .info .field-input input,
.add-product .content .info .field-input select {
    width: 50px;
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #A2A1A8;
}

.add-product .content .info .field-input select {
    width: 100px;
}

.add-product .content .info .field-input button {
    padding: 8px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.add-product .content .info .field-input input#price {
    width: 100%;
}

.add-product .content .button-add {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}