@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap');

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Lexend', sans-serif;
}

#root {
  height: 720px;
  overflow-y: hidden;
}

main {
  display: flex;
  justify-content: start;
  padding-top: 10px;
}
body {
  background-color: #f0f7ff;
}

.main-content {
  width: 100%;
}