

.stocks {
    padding: 30px;
    width: 100%;
    overflow: hidden;
}

.stocks .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.stocks .head  input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 24px;
    padding: 8px 15px;
    font-size: 16px;
}

.stocks .head .search {
    display: flex;
    align-items: center;
    width: 300px;
    padding: 13px 16px;
    border: 1px solid #a2a1a83d;
    border-radius: 10px;
}

.stocks .head .search .icon {
    width: 24px;
    height: 24px;
}

/* Styles de base pour le conteneur */
.stocks .toolbar {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px; /* Espacement entre les boutons */
    padding: 10px 20px;
    border-radius: 8px;
    overflow-x: auto;
}

/* Styles pour les boutons */
.stocks .toolbar button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.stocks .toolbar button:hover {
  background-color: #c6dcf5;
}

/* Bouton actif */
.stocks .toolbar button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

/* Bouton Ajouter */
.stocks .toolbar button:first-child {
  min-width: 120px;
}

/* Schrollbar Toolbar */
.stocks .toolbar::-webkit-scrollbar{
  height: 8px;
}

.stocks .toolbar::-webkit-scrollbar-thumb {
  background-color: #b4b4b4;
  border-radius: 4px;
}

.stocks .toolbar::-webkit-scrollbar-thumb:hover {
  background-color: #5899DD;
}
 

/* Styles pour chaque type de statut */
.stocks .available >* {
  background-color: #e8f7e8; /* Vert clair */
  color: #2ca02c;          /* Vert foncé */
} 

.stocks .status > * {
  padding: 4px;
  text-align: center;
  border-radius: 4px;
  margin-right: 8px;
}
 
.stocks .unavailable >* {
  background-color: #f7e8e8; /* Vert clair */
  color: #a02c2c;          /* Vert foncé */
}  